body{
	background-color: lightgrey;
margin: none;
padding: 8px;
}
ul{
	display: flex;
	padding: 8px;
	list-style-type: none;
	margin: 0px;
	top: 5px;

}
li a {
	top: 5px;
	display: block;
	color: white;
	padding: 8px;
	font-size: 10px;
margin: 0px;
}
header{
	margin: 0px;
	background-color: red;
	height: 40px;
	width: 100%;
	padding: 2px;

}
.backG{
	/* Line 1 */
padding: 8px;
position: absolute;
width: 14px;
height: 0px;
left: 6px;
top: 37px;

border: 1px solid #FFFFFF;
transform: rotate(-90deg);

}
.texts{
	top: 50px;
	height: 10px;
	width: 800px;
background-color: lightgrey;
	float :left;
	padding: 8px;
}
h1{
	color: red;
	font-style: italic;
	margin-left: 100px;
margin-top: 10px;
letter-spacing: 10px;
filter: drop-shadow(60px);
}
h2{
	letter-spacing: 10px;
	color: orange;
font-size: 30px;
font-style: bold;
margin-left: 330px;
margin-top: -55px;
filter: drop-shadow(60px);
}

.infoMe{
	border-radius: 120px;
	height: 300px;
	width: 300px;
	float: left;
	background-color: lightgray;
	margin-top: 100px;
	padding: 10px
}
h3{
	margin-top: 80px;
	color: red;
font-size: 30px;
margin-left: 30px;
}
.lapyP{
border-radius: 120px;
	height: 250px;
	width: 250px;
	float: left;
	background-color: none;
	margin-top: -200px;
	margin-left: 500px;
	padding: 8px;
}
img{
	margin-top: 50px;
	margin-left: 58px;
	height: 230px;
	width: 240px;
}
.aboutMe{
	height: 130px;
	width: 390px;
	float: left;
	background-color: lightpink;
	margin-top: -230px;
	margin-left: 830px;
	padding: 4px;

}
h4{
	font-size: 23px;
font-style: bold;
margin-left: 13px;
margin-top: 5px;
}

.button{
	height: 40px;
	width: 110px;
	background-color: red;
	color: white;
	margin-top: -200px;
	float: left;
	margin-left: 100px;
	padding: 2px;
}
h5{
	font-style: bold;
	font-size: 20px;
	margin-top: -10px;
}